.App {
  font-family: sans-serif;
  text-align: center;
}

.App p > button {
    transition: opacity .5s ease-in-out;
    user-select: none;
}

.App.inactive p > button:not(.open-account) {
  pointer-events: none;
  opacity: .5;
}